---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=5254&per_page=1&query=denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_access_key>&page=2&per_page=1&query=denver%2Cco>;
        rel="next"
      X-Total:
      - '5254'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"69a403a3df8554f809e65a39753d5534"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"total":5254,"total_pages":5254,"results":[{"id":"A4RpHR83luM","created_at":"2021-05-01T04:12:54-04:00","updated_at":"2021-09-27T03:26:24-04:00","promoted_at":null,"width":5954,"height":3969,"color":"#0c2626","blur_hash":"L867}^NGNIxY0gxaxENb==RkWXs,","description":"Night
        Time Downtown Denver","alt_description":"city skyline during night time","urls":{"raw":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?ixid=MnwyNjM2NjB8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MzI3NzI3OTI\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNjM2NjB8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MzI3NzI3OTI\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjM2NjB8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MzI3NzI3OTI\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjM2NjB8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MzI3NzI3OTI\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjM2NjB8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MzI3NzI3OTI\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/A4RpHR83luM","html":"https://unsplash.com/photos/A4RpHR83luM","download":"https://unsplash.com/photos/A4RpHR83luM/download","download_location":"https://api.unsplash.com/photos/A4RpHR83luM/download?ixid=MnwyNjM2NjB8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MzI3NzI3OTI"},"categories":[],"likes":4,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"t2RB-3lbgSk","updated_at":"2021-09-26T11:05:42-04:00","username":"rdehamer","name":"Ryan
        De Hamer","first_name":"Ryan","last_name":"De Hamer","twitter_username":null,"portfolio_url":"http://www.dehamermedia.com","bio":"Denver
        -\u003e Anywhere\r\nMy images are collected all around the country working
        with brands, athletes and fitness influencers","location":null,"links":{"self":"https://api.unsplash.com/users/rdehamer","html":"https://unsplash.com/@rdehamer","photos":"https://api.unsplash.com/users/rdehamer/photos","likes":"https://api.unsplash.com/users/rdehamer/likes","portfolio":"https://api.unsplash.com/users/rdehamer/portfolio","following":"https://api.unsplash.com/users/rdehamer/following","followers":"https://api.unsplash.com/users/rdehamer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"Ryan_dehamer","total_collections":6,"total_likes":0,"total_photos":69,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"Ryan_dehamer","portfolio_url":"http://www.dehamermedia.com","twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"denver"},{"type":"search","title":"co"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Mon, 27 Sep 2021 20:30:01 GMT
recorded_with: VCR 6.0.0
